
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.refrish {
    position: fixed;
    right: 13px;
    top: 16px;
    color: white;
    background-color: #737a7c;
    width: 60px;
    height: 45px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
}

.wrapper {
    height: 100%;
    width: 300px;
    direction: ltr;
    display: none;
}

.wrapper .menu-btn {
    position: fixed;
    left: 10px;
    top: 17px;
    direction: ltr;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 55px;
    z-index: 99999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

#btn:checked~.menu-btn {
    margin-left: 227px;
}

.wrapper .menu-btn span {
    position: absolute;
    font-size: 23px;
    transition: all 0.5s ease;
    direction: ltr;
}

.wrapper .menu-btn .open {
    opacity: 0;
    font-weight: bolder;
    font-size: 30;
    direction: ltr;
}

.wrapper .menu-btn .xz {
    font-weight: bolder;
    direction: ltr;
    font-size: 30;
}

#btn:checked~.menu-btn .open {
    opacity: 1;
    direction: ltr;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn .xz {
    opacity: 0;
    direction: ltr;
    transform: rotate(180deg);
}

#sidebar {
    position: fixed;
    background: #404040;
    direction: ltr;
    top: 0px;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.5s ease;
    z-index: 9999;
}

#btn:checked~#sidebar {
    direction: ltr;
    left: 0;
}

#sidebar .title {
    line-height: 65px;
    direction: ltr;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
}

#sidebar .list-items {
    position: relative;
    background: #404040;
    width: 100%;
    direction: ltr;
    height: 100%;
    list-style: none;
}

#sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    direction: ltr;
    transition: all 0.5s ease;
    transform: translateX(0px);
}

#sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    direction: ltr;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
    direction: ltr;
    border-top: none;
}

#sidebar .list-items li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    direction: ltr;
    display: block;
}

#sidebar .list-items li a i {
    direction: ltr;
    margin-right: 20px;
}

#sidebar .list-items .icons {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    direction: ltr;
    align-items: center;
    justify-content: center;
}

#sidebar .list-items .icons a {
    height: 100%!important;
    width: 40px!important;
    display: block !important;
    margin: 0 5px;
    font-size: 30px;
    font-weight: bolder!important;
    color: #f2f2f2 !important;
    direction: ltr!important;
    background: #4a4a4a !important;
    border-radius: 5px;
    border: 1px solid #383838 !important;
    transition: all 0.3s ease;
    text-decoration: none;
}

#sidebar .list-items .icons a:hover {
    direction: ltr;
    background: #404040 !important;
}

.list-items .icons a:first-child {
    direction: ltr;
    margin-left: 0px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #202020;
    z-index: -1;
    direction: ltr;
    width: 100%;
    text-align: center;
}

.content .header {
    direction: ltr;
    font-size: 45px;
    font-weight: 700;
}

.content p {
    font-size: 40px;
    direction: ltr;
    font-weight: 700;
}

body {
    user-select: none;
    background-color: #404050;
}

.project {
    width: 90%;
    position: relative;
    direction: rtl;
    margin-left: 5%;
    margin-top: 20px;
}

h2 {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    color: #e9eaf1;
    background-color: #000000;
    user-select: none;
    padding-top: 10px;
}

label {
    position: absolute;
    top: 75px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #DBDBDE;
    user-select: none;
}

 :root {
    --background: #12131E;
    --left: 5%;
    --width: 90%;
    --heigh: 45px;
    --font: 25px;
    --background1: #111;
    --padding: 0px 10px;
}

.sarial {
    position: relative;
    right: 5%;
    margin-top: 110px;
    direction: ltr;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    outline-color: transparent;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.checksarial {
    position: relative;
    background-color: var(--background1);
    color: whitesmoke;
    margin-right: var(--left);
    margin-top: 80px;
    margin-bottom: 20px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.c1 {
    position: relative;
    top: 37px;
    right: 23%;
    width: 54%;
    height: 45px;
    border-radius: 14px;
    outline: none;
    border: none;
    padding-right: 10px;
}

.c2 {
    position: relative;
    top: 61px;
    width: 54%;
    right: 23%;
    height: 45px;
    border-radius: 14px;
    outline: none;
    border: none;
    padding-right: 10px;
}

.c4 {
    position: relative;
    top: 80px;
    width: 54%;
    right: 23%;
    height: 45px;
    border-radius: 14px;
    outline: none;
    border: none;
    padding-right: 10px;
}

.c3 {
    position: relative;
    top: 100px;
    width: 54%;
    right: 23%;
    height: 48px;
    border-radius: 9px;
    color: whitesmoke;
    background-color: #576060;
    font-size: 24px;
}

.log_in {
    margin-top: -80px;
}

.name input {
    position: absolute;
    left: var(--left);
    margin-top: 110px;
    direction: ltr;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    outline-color: transparent;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.pass input {
    position: absolute;
    left: var(--left);
    margin-top: 150px;
    direction: ltr;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    outline-color: transparent;
    border-radius: 5px;
    padding: var(--padding);
    user-select: none;
}

.submit {
    background-color: var(--background1);
    color: whitesmoke;
    margin-right: var(--left);
    margin-top: 190px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.reset {
    background-color: #404050;
    color: whitesmoke;
    position: relative;
    margin-right: -5%;
    margin-top: -35px;
    direction: rtl;
    font-size: var(--font);
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    padding: var(--padding);
    user-select: none;
    display: none;
}

 :hover.submit {
    opacity: .5;
}

hr {
    margin-top: 50px;
}

h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    user-select: none;
}

.log_in {
    display: none;
}

.all {
    display: none;
}

.all_product {
    display: none;
}

.client {
    display: none;
}

.client_data {
    display: none;
}

.userpass {
    display: none;
}

a {
    width: 100px;
    height: 35px;
    text-decoration: none;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    margin-right: 50%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 10px;
    user-select: none;
}

.nt {
    position: absolute;
    top: 10px;
    transform: translateX(50%);
    margin-right: 50%;
}

.nt input {
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    user-select: none;
}

input:focus {
    transform: scale(1.1);
}

.newuser {
    position: absolute;
    left: var(--left);
    margin-top: 160px;
    direction: ltr;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    outline-color: transparent;
    border-radius: 5px;
    padding: var(--padding);
    user-select: none;
}

.newpass {
    position: absolute;
    left: var(--left);
    margin-top: 100px;
    direction: ltr;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    outline-color: transparent;
    border-radius: 5px;
    padding: var(--padding);
    user-select: none;
}

.oldpass {
    position: absolute;
    left: var(--left);
    margin-top: 220px;
    direction: ltr;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    outline-color: transparent;
    border-radius: 5px;
    padding: var(--padding);
    user-select: none;
}

.chang1 {
    position: absolute;
    background-color: var(--background1);
    color: whitesmoke;
    margin-right: var(--left);
    margin-top: 280px;
    direction: rtl;
    font-size: var(--font);
    width: var(--width);
    height: var(--heigh);
    border: var(--background1) solid 3px;
    border-radius: 5px;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.nt input {
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 5%;
}

.name_product {
    margin-top: 20px !important;
}

.price {
    user-select: none;
}

.taxes {
    margin-right: 2px;
    user-select: none;
}

.number {
    user-select: none;
}

.ptn {
    position: absolute;
    top: 415px;
    width: 50%;
    margin-right: 25%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.show_product {
    margin-top: 230px;
    width: var(--width);
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.old {
    margin-top: 8px;
    width: var(--width);
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.output {
    margin-top: 10px;
}

.output input {
    width: 70%;
    height: var(--heigh);
    margin-right: 15%;
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 7px;
}

.search_customer {
    width: 80%;
    height: var(--heigh);
    margin-right: 10%;
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 7px;
}

input {
    transition: .3s;
}

.search_ptn button {
    display: inline;
    margin-top: 15px;
    width: 40%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.search_name,
.search_name1 {
    margin-left: 15%;
    user-select: none;
}

.enter {
    margin-top: 55px;
    width: var(--width);
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.hr {
    margin: 10px 0px;
}

.DeleteAll {
    margin-top: 10px;
    width: var(--width);
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.ktable1,
.atable1 {
    margin-top: 30px;
    width: 100%;
    border: 3px #FFFFFF solid;
    margin-right: 0%;
    background-color: darkslategray;
    user-select: none;
}

.rtable,
.ktable,
.atable,
.ttable {
    margin-top: 30px;
    width: 750px;
    border: 3px #FFFFFF solid;
    margin-right: -3%;
    background-color: darkslategray;
    user-select: none;
}

table {
    margin-top: 30px;
    width: 730px;
    border: 3px #FFFFFF solid;
    background-color: #A9AAB6;
    user-select: none;
}

@media ( min-width: 850px) and (max-width:20000px) {
    table,
    .rtable,
    .ktable,
    .atable,
    .ttable {
        width: 100%;
        margin-right: 0%;
    }
}

table .colam1,
table .colam2,
table .colam3,
table .kcolam,
table .kcolam1,
table .acolam,
table .acolam1,
table .tcolam {
    background-color: #7B7B7B;
    user-select: none;
}

table .colam1 th,
table .colam2 th,
table .colam3 th,
table .kcolam th,
table .kcolam1 th,
table .acolam th,
table .acolam1 th,
.table .tcolam th {
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.tbody tr td,
.tbody1 tr td,
.tbody2 tr td,
.ktbody tr td,
.ktbody1 tr td,
.atbody tr td,
.atbody1 tr td,
.ttable tr td {
    text-align: center;
    user-select: none;
}

.atbody tr td,
.atbody1 tr td {
    width: 25%;
}

.discont,
.discont1 {
    display: block;
    width: 93%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    box-shadow: 0 0px 5px 3px #1413139d;
    margin: 3%;
}

.disvalue,
.disvalue1 {
    display: block;
    width: 93%;
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0px 5px 3px #1413139d;
    margin: 3%;
    background-color: hsl(351, 100%, 49%);
    font-size: 18px;
    padding-top: 10px;
}

.alvalue,
.alvalue1 {
    display: block;
    width: 93%;
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #A9AAB6;
    box-shadow: 0 0px 5px 3px #1413139d;
    padding-top: 10px;
    margin: 3%;
    font-size: 18px;
}

.asave,
.asave1 {
    display: block;
    width: 93%;
    height: 40px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: hsl(106, 95%, 50%);
    box-shadow: 0 0px 5px 3px #1413139d;
    font-size: 20px;
    margin: 3%;
}

.t1 {
    width: 80%;
    height: var(--heigh);
    margin-right: 10%;
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 7px;
}

button:hover {
    opacity: .7;
}

.xmoro {
    width: 43px;
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hwb(110 4% 37%);
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.updat,
.xupdat {
    width: 43px;
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #10B4C1;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.delete,
.xdelete {
    user-select: none;
    width: 43px;
    margin-right: 5%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.search_client {
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 15px;
    border-radius: 10px;
    user-select: none;
    margin-top: 40px;
    font-size: 20px;
    margin-right: 5%;
}

.enter_client {
    margin-top: 40px;
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-right: 5%;
}

.backbatodata {
    margin-top: 15px;
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-right: 5%;
}

.name_client {
    margin-top: 40px;
    width: 90%;
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 1px;
    user-select: none;
    font-size: 20px;
    margin-right: 5%;
}

.infoz {
    position: relative;
    width: var(--width);
    height: var(--heigh);
    overflow: auto;
    margin: auto;
    border: none;
    outline: none;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 12px;
    user-select: none;
    font-size: 15px;
    margin-right: 5%;
}

.valuex {
    position: relative;
    width: var(--width);
    height: var(--heigh);
    margin: auto;
    border: none;
    outline: none;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 12px;
    user-select: none;
    font-size: 20px;
    margin-right: 5%;
}

.save_client {
    margin-top: 10px;
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-right: 5%;
}

.show_client {
    margin-top: 10px;
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-right: 5%;
}

.all_customers {
    position: absolute;
    top: 15px;
    transform: translateX(50%);
    margin-right: 50%;
    width: 90%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.add_customers {
    display: none;
}

.customers {
    display: none;
}

.all_customers .add_customers input,
.all_customers .add_customers textarea,
.all_customers .add_customers button {
    width: var(--width);
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    user-select: none;
    margin-right: 5%;
}

.all_customers .add_customers textarea {
    height: 120px;
    background-color: #DBDBDE;
    font-size: 20px;
}

.all_customers .add_customers input {
    background-color: #DBDBDE;
    font-size: 20px;
}

.all_customers .add_customers button {
    border: none;
    outline: none;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.ptn_customer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ptn_customer button {
    display: inline;
    margin-top: 15%;
    width: 40%;
    height: 25vh;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.allInformionClinet {
    display: none;
    width: 95%;
    min-height: 500px;
    height: auto;
    background-color: #1ab4df;
    margin-top: 50px;
}

.autocom-box {
    padding: 0;
    opacity: 1;
    max-height: 180px;
    width: 90%;
    overflow-y: auto;
    background-color: #A9AAB6;
    border-radius: 5px;
    margin-right: 5%;
}

.xautocom-box {
    padding: 0;
    opacity: 1;
    max-height: 180px;
    width: 90%;
    margin-right: 5%;
    overflow-y: auto;
    background-color: #A9AAB6;
    border-radius: 5px;
}

.xautocom-box {
    width: 80% !important;
    margin-right: 10%;
}

.w1 {
    opacity: 1;
    max-height: 180px;
    padding: 0Px 1%;
    width: 22% !important;
    margin-right: 1%;
    display: block;
    margin-top: 15px;
    position: relative;
    right: -2.5%;
}

.autocom-box li,
.xautocom-box li,
.probox li {
    list-style: none;
    padding: 8px 12px;
    display: block;
    width: 100%;
    cursor: default;
    border-radius: 5px;
}

.autocom-box li:hover,
.xautocom-box li:hover,
.probox li:hover {
    background-color: #DBDBDE;
}

.probox {
    overflow-y: auto;
    background-color: #A9AAB6;
    z-index: 99999999999999999;
}

.ptn_invoices {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ptn_invoices button {
    display: inline;
    margin-top: 15%;
    width: 40%;
    height: 25vh;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.k1 {
    width: 80%;
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 10%;
}

.k1 {
    margin-top: 20px !important;
    z-index: 99999;
}

.k2 {
    margin-left: 9%;
}

.k2,
.k3 {
    user-select: none;
    width: 45%;
    height: var(--heigh);
    border: none;
    outline: none;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

@media ( min-width: 250px) and (max-width:520px) {
    .k2,
    .k3 {
        width: 80%;
        margin-right: 10%;
    }
    .k6,
    .k7,
    .k5 {
        width: 42%!important;
        height: 40px;
        padding-right: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        box-shadow: 0 0px 5px 3px #1413139d;
    }
    .w1 {
        width: 43%;
    }
    .ktable {
        margin-top: 120px;
    }
    .probox {
        position: fixed;
        top: 330px;
        width: 41%;
    }
    .k4 {
        display: block;
        position: fixed;
        width: 42% !important;
        height: 40px !important;
        padding-right: 10px !important;
        border-radius: 5px !important;
        border: none !important;
        outline: none !important;
        box-shadow: 0 0px 5px 3px #1413139d !important;
    }
    .k5 {
        position: fixed;
        top: 339px !important;
        right: 4% !important;
        z-index: -9;
    }
    .k6 {
        position: fixed;
        top: 290px !important;
        right: 53% !important;
    }
    .k7 {
        position: fixed;
        top: 339px !important;
        right: 53% !important;
    }
    .k8 {
        top: 105px !important;
        width: 70% !important;
        margin-right: 15% !important;
    }
}

.k6,
.k7,
.k5 {
    width: 22%;
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0px 5px 3px #1413139d;
    z-index: 1;
    display: none;
    font-size: 16px;
}

.k4 {
    display: block;
    width: 100%;
    height: 40px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0px 5px 3px #1413139d;
}

.k5 {
    position: fixed;
    top: 230px;
    right: 50%;
}

.k6 {
    position: fixed;
    top: 230px;
    right: 26%;
}

.k7 {
    position: fixed;
    top: 230px;
    right: 74%;
}

.k8 {
    position: relative;
    top: 15px;
    width: 50%;
    margin-right: 25%;
    height: var(--heigh);
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #111;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.print {
    width: 100%;
    background-color: #c0c4c7;
    padding: 10px;
    display: none;
}

.crf {
    padding: 5PX;
    background-color: #C0C4A1;
    height: 135px;
}

.crf p {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.j1 {
    top: -55px;
    right: 15%;
}

.j2 {
    right: 66%;
    top: -100px;
}

.j3 {
    top: -115px;
    right: 16%;
}

.j4 {
    top: -158px;
    right: 66%;
}

.j5 {
    top: -18px;
    right: 17%;
}

.j6 {
    right: 66%;
    top: -66px;
}

.g1 {
    top: -30px;
}

.g2 {
    right: 50%;
    top: -78px;
}

.g3 {
    top: -90px;
}

.g4 {
    top: -135px;
    right: 50%;
}

.data {
    display: none;
}

.g5 {
    right: 0%;
    top: 5px;
}

.g6 {
    top: -42px;
    right: 50%;
}

.ptn_customer {
    display: none;
}

.ptn_invoices {
    display: none;
}

.new_invoice {
    display: none;
}

.list_invoice {
    display: none;
}
